.loadTop {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	align-items: stretch;
	justify-content: flex-start;
	padding: 0.5rem;
	border-right: 2px solid #444;
	flex: 1 1 auto;
}

.loadEntry, .loadTotal {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.loadTotal {
	margin-bottom: 1.5rem;
}

.spacer {
	flex: 1 1 0;
}

.loadPercent {
	width: 80px;
	text-align: right;
}