.mainPage {
	display: flex;
	flex-direction: row;
	align-items: stretch;

	flex: 1 1 auto;
	align-self: stretch;
}

.leftColumn {
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
}

.rightColumn {
	display: flex;
	flex-direction: column;
	align-items: stretch;

	flex: 1 1 auto;
}